	<script>
		function play(arguments) {
			var output = synthesize_text(arguments )
			playSound(output)
		}
	</script>

{% extends "layout.html" %}
{% block content %}
    <h2>Recipe Collection</h2>

    <h3>Add your recipe! <a href="{{ url_for('addRecipe') }}">here</a></h3>
    <h3>Entries</h3>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.title }} provided by &lt;{{ entry.author }}&gt;<br>
	    Entered on: {{ entry.date }}<br>
	    Estmated Prep Time: {{ entry.prep_time }}<br>
	    Made With:<br>
	    {{ entry.ingredients }}<br>
	    <br>
	    <br>
	    Hear list it is made from: <button type="button" onclick="play({{entry.ingredients }})">Hear List</button>
        </p>
    {% endfor %}

{% endblock %}



